/* start of popular service */

.main_title h2 {
	text-align: center;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 64px;
	color: #000000;
}

.main_title p {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: capitalize;
	padding-bottom: 16px;
	line-height: 20px;
}

.work_inner {
	margin-bottom: -50px;
}

.work_item {
	text-align: center;
	margin-bottom: 90px;
}

.work_item i {
	height: 80px;
	width: 80px;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	background: #dbdbdb;
	display: inline-block;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	margin-bottom: 30px;
}

.work_item h4 {
	color: #222222;
	font-size: 20px;
	margin-bottom: 15px;
}

.work_item p {
	max-width: 310px;
	margin: auto;
}

.work_item:hover i {
	background-image: -webkit-linear-gradient(0deg, #20c4f4 0%, #919191 100%);
	background-image: -ms-linear-gradient(0deg, #77889f 0%, #382e4e 100%);
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
	color: #fff;
}

.work_item:hover h4 {
	color: rgb(32, 196, 244);
}

.main_title h2 {
	text-align: center;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
	line-height: 64px;
	color: #000000;

}

/*  end of popular service */


/* start of image editing working process */
#imagepro img {
	vertical-align: middle;
	border-style: none;
	padding-top: 10px;
}

/* contact and footer */
/*--contact-- */
.contact {
	background: url(../img/map.jpg) no-repeat 0px 0px;
	background-size: cover;
	background-attachment: fixed;
}

.form-right input[type="text"],
.form-right input[type="email"],
.contact-bothside-agileinfo textarea {
	width: 100%;
	color: #000;
	background: #ffffff;
	outline: none;
	font-size: 15px;
	padding: .8em 1em;
	margin-bottom: 2em;
	border: solid 2px #ffffff;
	-webkit-appearance: none;
	display: inline-block;
	border-radius: 4px;
}

.form-left {
	padding-left: 0px;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #000;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #000;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #000;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #000;
}

.contact-bothside-agileinfo textarea {
	resize: none;
	outline: none;
	min-height: 10em;

}

.contact input[type="submit"] {
	outline: none;
	color: #fff;
	padding: 0.7em 5em;
	font-size: 14px;
	margin: 1em 0 0 0;
	border: 1px solid #186a9a;
	-webkit-appearance: none;
	background: #20c4f4;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
	-moz-transition: 0.5s all;
	margin-bottom: 10px;
}

.contact input[type="submit"]:hover {
	background: #9b141acf;
	color: #000;
	border: 1px solid #000;
}

.form-right {
	padding-right: 0px;
}

.contact h3 {
	color: #fff;
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	text-align: center;
}

/* end of contact*/

/* clients chart*/
.counter {
	font-size: 41px;
	margin: 8px 0px;
	color: #564031;
	font-weight: 500;
	letter-spacing: 1px;
}

.stats-grid {
	text-align: center;
	margin: 0 auto;
}

/* end of clients chart */

/* testimonials */
.social-menu {
	list-style: none;
	margin: 0;
	padding: 10px;
}

.social-menu li {
	display: inline-block;
	margin: 0 3px;
}

.social-menu li a {
	display: block;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 2.5em;
	background-color: #ffffff;
	color: #138fc2;
	border-radius: 100px;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	font-size: 15px;
}

.social-menu li a:hover {
	background-color: #414141;
	color: #ffffff;
	-webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}


/***
*Team-Section
***/
.full-height {
	width: 100%;
	height: 100vh;
}

.relative {
	position: relative;
}

.fixed,
.absolute {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.fixed {
	position: fixed;
}



.section-padding {
	padding: 120px 0;
}

.single-team {
	background-color: #2ec4f4;
	border-radius: 5px;
	overflow: hidden;
	color: #515656;
	text-align: center;
	position: relative;
	-webkit-box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: 0.3s;
	transition: 0.3s
}

.single-team:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px)
}

.single-team .team-photo {
	margin-bottom: 20px;
	padding-top: 20px;
	overflow: hidden;
}

.single-team .team-photo img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s;
	transition: 0.3s;
	width: 255px;
}

.single-team:hover .team-photo img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.single-team h4 {
	text-transform: uppercase;
}

.single-team h6 {
	margin-bottom: 20px;
}

.single-team .social-menu {
	-webkit-transition: 0.3s;
	transition: 0.3s;
	position: absolute;
	bottom: -80px;
	left: 0;
	width: 100%;
	padding: 23px 10px;
	background-color: #ffffff;
}

.single-team:hover .social-menu {
	bottom: 0;
}


/* //testimonials */


/*--//footer-- */
.social-icons ul li {
	display: inline-block;
	text-align: center;
	border: 1px solid #000;
	width: 36px;
	height: 36px;
	background: #000;
	line-height: 34px;
	margin: 0px 17px;
	border-radius: 50px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social-icons ul li a span {
	color: #fff;
	font-size: 12px;
}

.social-icons ul li:hover {
	background: #00c4ff;
	color: #fff;
}

footer {
	text-align: center;
	background: #447178;
	padding: 2em 0;
}

footer p {
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	padding: 25px 10px 0px;
}

footer p a {
	color: #000;
}

footer p a:hover {
	color: white;
}

.clr-green {
	background: #fb8a2e;
}

.font {
	color: black;
	font-family: sans-serif;
	font-size: 16px;
}

.fontservice {
	color: #20C4F4;
	font-family: sans-serif;
	font-size: 16px;
}

.pricing {
	padding-bottom: 3px;
}

/*service page*/
.service_color p {
	color: black;
	text-transform: capitalize;
	text-align: center;
}

/***********************Pricing Page Css**************************/


section.pricing {
	background: #9CECFB;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pricing .card {
	border: none;
	border-radius: 1rem;
	transition: all 0.2s;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
	margin: 1.5rem 0;
}

.pricing .card-title {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	letter-spacing: .1rem;
	font-weight: bold;
}

.pricing .card-price {
	font-size: 3rem;
	margin: 0;
}

.pricing .card-price .period {
	font-size: 0.8rem;
}

.pricing ul li {
	margin-bottom: 1rem;
}

.pricing .text-muted {
	opacity: 0.7;
}

.pricing .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	opacity: 0.7;
	transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
	.pricing .card:hover {
		margin-top: -.25rem;
		margin-bottom: .25rem;
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	}

	.pricing .card:hover .btn {
		opacity: 1;
	}
}

/*****************Payments************/

.text-center p {
	color: black;
}

.responsive {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.progress {
	height: 0px;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 0;
	background: rgba(0, 47, 134, 0.7);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px rgba(255, 255, 255, .1);
	padding: 3px;
}

.payment_m {
	padding-bottom: 36px;
}

/**************About Us********************/

.about_us h2 {
	text-transform: uppercase;
	color: #000000;
	font-family: sans-serif;
	font-weight: 900;
}

.btnborder {
	background-color: black;
}

.instruction ul {
	padding-left: 16px;
}

.instruction p {
	color: black;
	display: block;
}

.file {
	background-color: black;
	font-family: sans-serif;
}
